<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatBytes Profile</title>
</head>
<body>
    <div class="profile-container">
        <h1>My Profile</h1>
        <p>Username: {{ username }}</p>
        <p>Email: {{ email }}</p>
        <p>Date Joined: {{ date_joined }}</p>
        <a href="{% url 'DashboardPage' %}">Go to Dashboard</a><br>
        <a href="{% url 'ChangePasswordPage' %}">Change Password</a><br>
        <a href="{% url 'LogoutPage' %}">Signout</a>
    </div>
</body>
</html>
